<h1>About.</h1>
<div class="row">
    <div class="col-md-6">
        <h2 class="text-primary">Developer Team:</h2>
        <p class="text-muted"></p>
        <p>David Alejandro Lopez Torres.</p>
        <p>22310432</p>
        <p class="text-secondary">Karen Flores Pozos.</p>
        <p class="text-secondary">22310420</p>
        <p class="text-warning">Jesus Alberto Arechiga Carrillo.</p>
        <p class="text-warning">22310439</p>
        <p class="text-danger">Dylan Jesús González Calamateo.</p>
        <p class="text-danger">22310416</p>
        <p class="text-success">Osirs Quetzaly Ruiz Juarez.</p>
        <p class="text-success">22310418</p>
        <h6 class="text-primary">Introduction to Softwere 1M</h6>
        <br> 
        <p class="text-warning">GitHub - cheap-software/hyper-arcade-client</p>
        <p class="text-warning">Contribute to cheap-software/hyper-arcade-client development by creating an account on GitHub.</p> 
        <p>September 6, 2022</p>
    </div>
    <div class="col-md-6">
        <img class="img-responsive" src="../../../assets/images/gif-13.gif" width="70%">
    </div>
</div>