<div class="card">
    <div class="container">
        <br>
        <h2 class="text-secondary">Welcome to the Hyper Arcade Website!</h2>
        <p>It's time to have fun on a grand scale.</p>
        <p><small>A fun platform to satisfy leisure.</small></p>
        <p>The Best Website to Play Online! A unique selection of Online Games from the World's Best Developers.
        <em>Instant Play. Play Anywhere. Easily accessible.</em>.</p>
        <p>Official Games. Viral Games. Original games 
        <strong>You can play free online games at school or at home</strong>.</p>
        <div class="text-center">
            <img class="img-responsive" src="../../../assets/images/gif-17.gif" width="25%"
            style="margin-bottom: 2%;">
        </div>
    </div>
</div>